*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* id */

#notifications-link{
    color:rgb(145 145 145);
}

/* tag classes */

body{
    background-color:rgb(0 150 136);
    font-family: 'Lato', sans-serif;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* general class */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-centered{
    justify-content: center;
    align-items: center;
}

.flex-centered-start{
    justify-content: start;
    align-items: center;
}

.flex-centered-end{
    justify-content: flex-end;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}


.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-50{
    width: 50%;
}


.w-10{
    width: 10%;
}

.p-5{
    padding: .5rem;
}

.margin-auto{
    margin: 0 auto;
}

.last-message{
    color: lightslategray;
}

.bell-icon{
    background-color:white ;
    border-radius: 50%;
    margin-right: .7rem;
}

.green-pill{
    padding: 1rem;
    background-color: rgb(213 249 186);
    border-radius: 10px;
}

.white-pill{
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}
/* spcific class */

div.container{
    width: 1200px;
    margin: 2rem auto;
    background-color: rgb(234 234 234);
}

div.left-column{
    width: 40%;
}

div.right-column{
    width: 60%;
}

div.my-profile{
    padding: .5rem;
}

div.flex-centered-start span{
    margin-left: .5rem;
}

div.notifications-bar{
    background-color:rgb(142 218 252) ;
    padding: .5rem;

}

div.notifications-bar i{
    width: 40px;
    height: 40px;
    padding: .4rem;
    font-size: 1.4rem;
}

div.search-bar{
    padding: 0.5rem;
}

div.search-bar input{
    padding: 0.4rem;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.chat{
    overflow-y: scroll;
}

div.chat-icons i,
div.my-profile-icons i
{
    padding: .6rem;
}

div.right-column main{
    background-image:url("./img/mine.jpg") ;
    height: calc(100% - 134px);
}

footer div.w-80 input{
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.7rem;
    border-radius: 4px;

}

/* hover */

div.contact-panel:hover{
    background-color: lightgrey;
}